# Airflow
AIRFLOW__WEBSERVER__SECRET_KEY=REPLACE_ME
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres-airflow:5432/airflow
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://airflow:airflow@postgres-airflow:5432/airflow
AIRFLOW__CELERY__BROKER_URL=redis://redis:6379/0

# Your Postgres (RAW tables DB)
DE_DB_HOST=host.docker.internal
DE_DB_PORT=5432
DE_DB_NAME=your_db
DE_DB_USER=your_user
DE_DB_PASSWORD=your_password